<!DOCTYPE html>
<html>
  <head>
    <title>管理者ログイン</title>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <div>
      <h2>管理者ログイン</h2>
      <%= form_with url: administrator_session_path do |form| %>
        <div>
          <%= form.email_field :email, placeholder: "メールアドレス", autofocus: true %>
          <%= form.password_field :password, placeholder: "パスワード" %>
        </div>
        <div>
          <%= form.submit "ログイン" %>
        </div>
      <% end %>
    </div>
  </body>
</html>
